body {
    font-family:'Poppins', sans-serif;
    colour: #333;
    background-color: #f9f9f9;
     margin: 0;
    padding: 0;
    line-height: 1.6;
}

header{
    background-color: #4c74af;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1{
    margin: 0;
}

nav a{
    color: white;
    text-description: none;
    margin: 20px;
}

nav a:hover{
color: #2563eb;
}

main{ 
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20 px 0;
}

footer{
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 8px 20px;
    font-size: 12px;
    bottom: 0;
    width: 100%;
}

p{
    font-size: 1.1em;
}

a{
    color: #4c74af;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
    border: 5px solid #4c74af;
    border-radius: 10px;
}

main a[heref^="mailto:"] {
    color: #ff5722;
    font-weight: bold;
}